/* FONTS */ 
@import url('//fonts.googleapis.com/css?family=Roboto:400italic,400,700');
@font-face {
  font-family: 'barmenoregular';
  src: url('/fonts/barmeno_regular-webfont.eot');
  src: url('/fonts/barmeno_regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/barmeno_regular-webfont.woff') format('woff'),
       url('/fonts/barmeno_regular-webfont.ttf') format('truetype'),
       url('/fonts/barmeno_regular-webfont.svg#barmenoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'barmenoregular';
}

/* END FONTS */

/* 
 * COLOURS 
 *   orange: ff6c06;
 *   blue:   0e9acd;
 *   grey:   949699;
 */

body {
  color: #646669;
  font-family: Roboto,Arial,sans-serif;
  font-size: 16px;
  line-height: 2.0em;
}
h1 { 
	color: #0e9acd;
}
input:readonly,
select:readonly,
textarea:readonly {
  background-color: #cbcbcb;
}
label.required::after {
  color: red;
  content: '*';
}
th { 
	font-weight: bold;
}
.btn {
  min-width: 80px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  height: 70px;
}
.navbar-bg {
  width: 100%;
  height: 115px;
}
.navbar-brand { 
	padding: 0;
  position: relative;
}
.navbar-brand img {
  height: 70px;
  margin-left: 10px;
  margin-right: 10px;
}
.nav>li {
  font-size: 24px;
  height: 70px;
}
.profile-heading { 
  font-size: 50px;
}

.author {
  color: #ff6c06;
  font-weight: bold;
  /*  text-shadow: 0 0 10px #0e9acd;*/
}
.carousel-caption i { 
/*  color: #0e9acd;*/
  font-weight: bold;
/*    text-shadow: 0 0 10px #0e9acd;*/
}
@media (min-width: 768px) {
  .navbar-nav>li>a {
    padding: 27px 20px;
  }
}

/******* ICONS **********/
.od-icon-team-page {
  background-color: #0e9acd; 
  color: #fff;
  font-size: 128px;
  padding: 40px;
  position: relative;
  top: 90px;
  left: 90px;
}
.od-icon { 
  background-color: #0e9acd; 
  color: #fff;
  font-size: 72px;
  margin-bottom: 40px;
  padding: 25px;
}
@font-face {
	font-family: 'one-decision';
	src:url('/fonts/one-decision.eot?-xcvbng');
	src:url('/fonts/one-decision.eot?#iefix-xcvbng') format('embedded-opentype'),
		url('/fonts/one-decision.ttf?-xcvbng') format('truetype'),
		url('/fonts/one-decision.woff?-xcvbng') format('woff'),
		url('/fonts/one-decision.svg?-xcvbng#one-decision') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="od-icon"], [class*=" od-icon"] {
	font-family: 'one-decision';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.od-icon-join-us:before {
	content: "\e673";
}
.od-icon-getting-started:before {
	content: "\e674";
}
.od-icon-support:before {
	content: "\e675";
}
/***** END ICONS **********/
