[contenteditable]:hover {
  cursor: pointer;
}
.decision-name input,
.expr-name input,
.rule input {
  border: none;
  cursor: pointer;
  text-overflow: ellipsis;
	width: 200px;
}
.expr input {
  border: none;
  cursor: pointer;
  text-overflow: ellipsis;
  width: 100%;
}
input:focus {
  border: 1px solid #ccc;
  cursor: pointer;
}
.condition th,
.condition td,
.conclusion th,
.conclusion td {
  border-bottom: 1px solid #ccc;
}
.decision-name {
  border: 1px solid #cccccc;
  border-top: 1px solid #cccccc !important;
}
.expr,
.expr-action,
.hit-policy,
.rule td {
  border-right: 1px solid #ccc;
}
.input { 
  background-color: #ccccff !important;
}
.output { 
  background-color: #ffcccc !important;
}
.newCondition,
.newConclusion {
	border: none;
	background-color: #fff !important;
}
.table-striped>tbody>tr:nth-child(odd)>td>input, 
.table-striped>tbody>tr:nth-child(odd)>th>input {
  background-color: #f9f9f9;	
}
.table-striped>tbody>tr:nth-child(odd)>td>input:focus, 
.table-striped>tbody>tr:nth-child(odd)>th>input:focus {
  background-color: #fff;	
}
#deploymentName {
  width: 350px;	
}
