/* FONTS */ 
@import url('//fonts.googleapis.com/css?family=Roboto:400italic,400,700');
@font-face {
  font-family: 'barmenoregular';
  src: url('fonts/barmeno_regular-webfont.eot');
  src: url('fonts/barmeno_regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/barmeno_regular-webfont.woff') format('woff'),
       url('fonts/barmeno_regular-webfont.ttf') format('truetype'),
       url('fonts/barmeno_regular-webfont.svg#barmenoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'barmenoregular';
}

/* END FONTS */

/* 
 * COLOURS 
 *   orange: ff6c06;
 *   blue:   0e9acd;
 *   grey:   949699;
 */

/* START BOOTSTRAP OVERRIDES */

body {
  color: #646669;
  font-family: Roboto,Arial,sans-serif;
  font-size: 16px;
  line-height: 2.5em;
}
h1 { 
	color: #0e9acd;
}
h1.title {
	font-size: 60px;
}
h2 { 
	font-size: 24px;
}
h3 { 
  font-size: 24px;
}
h4 { 
  font-size: 20px;
}
img.entity-context {
  width: 90%;	
}
input,select,textarea { 
	margin: 0 5px 0 5px;
	padding: 0 10px 0 10px;
}
input.field-error:invalid,
select.field-error:invalid,
textarea.field-error:invalid {
  border: solid 3px #f33;
}

input:focus:invalid,
select:focus:invalid,
textarea:focus:invalid {
  border: solid 3px #f33 ;
}

input ~ .field-hint,
select ~ .field-hint,
textarea ~ .field-hint {
  visibility: hidden ;
  line-height: 0em;
}

input:focus:invalid ~ .field-hint,
select:focus:invalid ~ .field-hint,
textarea:focus:invalid ~ .field-hint {
  color: #f33 ;
  visibility: visible ;
  line-height: 1.5em;
}
input:readonly,
select:readonly,
textarea:readonly {
  background-color: #cbcbcb;
}
label.required::after {
  color: red;
  content: '*';
}
section .active {
	display: inline;
}
section h2 {
  border-bottom: solid 1px #ff6c06;
  color: #0e9acd;
  padding-bottom: 5px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
section h2 .search {
/*margin-bottom: 10px;*/
  margin-right: 0;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-color: #0e9acd;
  width: 45%;
}
section h2 .glyphicon {
  margin-top: -10px;
}
section h2 .glyphicon-search {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 15px;
  font-size: 20px;
  margin-left: 0px;
  position: relative;
  left: -7px;
  top: 1px;
}
section h2 .entity {
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-color: #0e9acd;
  padding-right: 0;
  /*margin-bottom: 10px;*/
  margin-right: -1px;
  margin-top: -5px;
  width: 110px;
}
section h2 .file {
  border-radius: 0 !important;
  border-color: #0e9acd;
  /*margin-bottom: 10px;*/
  margin-left: 0;
  margin-right: 0;
  margin-top: -5px;
  width: 110px;
}
section h2 .glyphicon-import {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	font-size: 20px;
	margin-left: 0px;
	position: relative;
	left: -1px;
	top: 5px;
}
section h3 {
  border-bottom: solid 1px #ff6c06;
  padding-left: 20px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  vertical-align: middle;
}
th { 
	font-weight: bold;
}
tfoot th {
	font-style: italic;
  font-weight: normal;
  text-align: center; 	
}
.a-primary-label {
  font-weight:bold;
  text-decoration: underline; 
}

.a-primary-data {
}

.a-secondary-label {
  font-weight:bold; 
}

.a-secondary-data {
}

.ajax-loader {
  position: absolute;
  left: 45%;
  top: 300px;
  z-index: 200; 
}
.btn {
  min-width: 80px;
}
.btn-h2 {
  margin-top: -7px;
}
.col-actions {
  min-width: 101px !important;
}
.col-truncate {
	width: 200px;
  text-overflow: ellipsis;
}
.field-age { 
	width:15%
}
.field-author { 
  width:50px;
}
.field-text { 
}
.glyphicon { 
	font-size: 20px;
  border: solid 1px;
  padding: 6px;
  margin: 3px;
  border-radius: 5px;
  color: #0e9acd;
}
a.glyphicon,
a.glyphicon:visited,
h2 a.glyphicon,
h2 a.glyphicon:visited {
  color: #949699;
  text-decoration: none;
}
a.glyphicon:focus,
a.glyphicon:hover,
h2 a.glyphicon:focus,
h2 a.glyphicon:hover {
  color: #ff6c06;
  /*color: #646669;*/
}
.navbar-brand { 
	padding: 0;
  position: relative;
  top: -18px;  
}
.navbar-brand img {
  height: 80px;	
}
.search {
	border-radius:15px;
	width:100px;
	display:inline;
	position:relative;
	bottom:5px;	
}
/* END BOOTSTRAP OVERRIDES */

.clickable:hover {
	cursor: pointer; 
}
.currentBody { 
	margin-top: 10px;
}
.form { 
	display: block;
	list-style: none;
  /*padding-top: 20px;
  margin-bottom: -30px;*/
}
form#upload {
	min-width: 263px;
}
.form li { 
	margin: 5px 0 5px;
}
.form label, .form input {
  display:inline-block;
  /*top: -25px*/
}
.form label {
	padding-right: 10px;
  text-align: right;
  vertical-align: top;
  /*width: 200px;*/
}
.form input {
	/*width: 60%;*/
}
.form input.create-form {
  padding-bottom: 2px;	
}
.form input.create-field { 
  border-width: 1px;
}
.form input.edit-field { 
  border-width: 1px;
}
.profile { 
	font-style: italic;
}
.profile-img img { 
	margin-top: -9px;
}
#messages { 
  position: fixed;
  top: 45px;
  margin-left: 25%;
  margin-right: 25%;
  padding: 0 10px 0 10px;
  width: 50%;
  z-index: 10;
}
#messages.text-danger { 
  font-style: italic;
}
