<section id="dtSect" class="entity-fields" style="display:none">
  <h2>
    <span>Define Decision</span>
    <div class="pull-right">
    <!--
      <a id="save_as_image" href="#" download="{{decision.name}}.png" target="_blank">
        <span class="glyphicon glyphicon-picture" aria-hidden="true" onclick="ractive.decision2Image();" title="Save image"></span>
      </a>
      <span class="glyphicon glyphicon-export" aria-hidden="true" onclick="ractive.publish(ractive.get('decision'))" title="Publish to Repository"></span>
      -->
      <span class="glyphicon glyphicon-remove" aria-hidden="true" onclick="ractive.delete(ractive.get('decision'))" title="Delete"></span>
      <!--<button class="btn" type="button">Validate</button>-->
    </div>
  </h2>
  <table id="decisionTable" class="decision-table table table-striped">
    <thead>
      <tr>
        <th class="decision-name" colspan="3">
          <input title="{{decision.name}}" value="{{decision.name}}"/>
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each decision.conditions:i}}
        <tr class="condition" data-condition="{{name}}">
          <th class="">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="border:0px"></span>
          </th>
          <th class="expr-name">
            <input autocomplete="false" class="edit typeahead" title="{{name}}" value="{{name}}"/>
          </th>
          <th class="expr-action">
            <span class="clickable glyphicon glyphicon-remove" aria-hidden="true" on-click="deleteCondition(i)" title="Delete Condition"></span>
          </th>
          {{#each expressions:j}}
            <td class="expr"><input title="{{.}}" value="{{.}}"/></td>
          {{/each}}
        {{#if (i==0)}}
          <td class="rule-add" rowspan="{{decision.conditions[0].expressions.length+decision.conclusions[0].expressions.length+2}}">
            <span class="clickable glyphicon glyphicon-plus" aria-hidden="true" on-click="addConditionExpr()" title="Add Rule"></span>
          </td>
        {{/if}}
        </tr>
      {{/each}}
      <tr class="newCondition">
        <th colspan="2">
          <span class="clickable glyphicon glyphicon-plus" aria-hidden="true" on-click="addCondition()" title="Add Condition"></span>
        </th>
      </tr>
      {{#each decision.conclusions:i}}
        <tr class="conclusion" data-conclusion="{{name}}">
          <th class="">
            <span class="glyphicon glyphicon-flash" aria-hidden="true" style="border:0px"></span>
          </th>
          <th class="expr-name">
            <input autocomplete="false" class="edit typeahead" title="{{name}}" value="{{name}}"/>
          </th>
          <th class="expr-action">
            <span class="clickable glyphicon glyphicon-remove" aria-hidden="true" on-click="deleteConclusion(i)" title="Delete Conclusion"></span>
          </th>
          {{#each expressions:j}}
            <td class="expr"><input title="{{.}}" value="{{.}}"/></td>
          {{/each}}
        </tr>
      {{/each}}
      <tr class="newConclusion">
        <th colspan="2">
          <span class="clickable glyphicon glyphicon-plus" aria-hidden="true" on-click="addConclusion()" title="Add Conclusion"></span>
        </th>
      </tr>
      <tr class="rule">
        <th>&nbsp;</th>
        <th class="hit-policy" colspan="2">
          <input autocomplete="false" class="edit typeahead" placeholder="Click to set hit policy" title="{{hitPolicy}}" value="{{hitPolicy}}"/>
        </th>
        {{#each decision.conclusions[0].expressions:idx}}
          <td contenteditable>{{idx+1}}</td>
        {{/each}}
      </tr>
    </tbody>
  </table>

</section>

