{{#current.definitions.decisions:idx}}
  {{#if match(id) }}
    <h1>
      <span>{{name}}</span>
      {{#matchRole('author')}}
        <span> ({{id}})</span>
      {{/}}
    </h1>
    {{#if ..decisionTable}}
      {{#if ..decisionTable.preferredOrientation=='RULE_AS_COLUMN'}}
        {{>dmnDecisionColumnSect}}
      {{else}}
        {{>dmnDecisionRowSect}}
      {{/if}}                      
    {{/if}}
  {{/if}}
{{/}}

{{#current.definitions.businessKnowledgeModels:idx}}
  {{#if match(id) }}
    <h1>
      <span>{{name}}</span>
      {{#matchRole('author')}}
        <span> ({{id}})</span>
      {{/}}
    </h1>
    {{#if .encapsulatedLogic.decisionTable}}
      {{#if .encapsulatedLogic.decisionTable.preferredOrientation=='RULE_AS_COLUMN'}}
        {{>dmnDecisionColumnSect}}
      {{else}}
        {{>dmnDecisionRowSect}}
      {{/if}}                      
    {{/if}}
  {{/if}}
{{/}}

