{{#current}}
  <section id="currentSect" style="display:none">
      <h2>
        <span>{{current.name}}</span>
        <span class="pull-right">
          <a class="glyphicon glyphicon-cloud-download" href="/{{tenant.id}}/decision-models/{{current.definitionId}}.dmn" target="_newtab" title="Download the DMN representation of the decision"></a>
          <a class="clickable glyphicon glyphicon-remove" aria-hidden="true" onclick="ractive.delete(ractive.get('current'))" title="Delete this definition"></a>
        </span>
      </h2>
      <p>
        <span class="a-primary-label control-label">{{current.deploymentMessage}}: </span>
        <span class="a-secondary-label control-label">Id: </span> {{current.id}};
        <span class="a-secondary-label control-label">Definition: </span> {{current.name}} (id: {{current.definitionId}});
        <span class="a-secondary-label control-label">Deployed: </span> {{formatDateTime(current.created)}};
      </p>
      
      <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#notation" aria-controls="notation" role="tab" data-toggle="tab">Notation</a></li>
          <li role="presentation"><a href="#xml" aria-controls="xml" role="tab" data-toggle="tab">XML</a></li>
        </ul>
      
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="notation">
            <h3>Decisions</h3>
            <ul>
              {{#current.decisionNames.sort():idx}}
                <li>
                  <div>
                    <span>{{.}} ({{current.decisionIds[idx]}})</span>
                    <a href="/{{tenant.id}}/decision-models/{{current.definitionId}}/{{current.decisionIds[idx]}}" target="_newTab">
                      <span class="glyphicon glyphicon-new-window"></span>
                      <span></span>
                    </a>
                  </div>
                </li>
              {{/}}
              {{^current.decisionIds}}
                <li>None</li>
              {{/}}
            </ul>
            <h3>Business Knowledge Models</h3>
            <ul>
              {{#current.bkmNames.sort():idx}}
                <li>
                  <div>
                    <span>{{.}} ({{current.bkmIds[idx]}})</span>
                    <a href="/{{tenant.id}}/decision-models/{{current.definitionId}}/{{current.bkmIds[idx]}}" target="_newTab">
                      <span class="glyphicon glyphicon-new-window"></span>
                      <span></span>
                    </a>
                  </div>
                </li>
              {{/}}
              {{^current.bkmIds}}
                <li>None</li>
              {{/}}
            </ul>   
          </div>
          <div role="tabpanel" class="tab-pane" id="xml">
            <pre><code id="currentHighlightedDmn" class="xml"></code></pre>          
          </div>
        </div>
      
      </div> 
  </section>
{{/}}
