<section id="dtSect" class="entity-fields">
  <h2>
    <span>Decision Logic</span>
    <div class="pull-right">
      <div class="onoffswitch">
        <input type="checkbox" name="editOnOffSwitch" class="onoffswitch-checkbox" id="editOnOffSwitch">
        <label class="onoffswitch-label" for="editOnOffSwitch">
          <span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span>
        </label>
      </div>
    <!--
      <a id="save_as_image" href="#" download="{{decisionLogic.decisionTable.name}}.png" target="_blank">
        <span class="glyphicon glyphicon-picture" aria-hidden="true" onclick="ractive.decision2Image();" title="Save image"></span>
      </a>
      <span class="glyphicon glyphicon-export" aria-hidden="true" onclick="ractive.publish(ractive.get('decision'))" title="Publish to Repository"></span>
      
      <span class="glyphicon glyphicon-remove" aria-hidden="true" onclick="ractive.delete(ractive.get('decision'))" title="Delete"></span>
      -->
      <!--<button class="btn" type="button">Validate</button>-->
    </div>
  </h2>
  
  <table id="decisionTable" class="decision-table table table-striped">
    <thead>
      <tr>
        <th class="information-item-name" colspan="2"><input title="{{name}}" value="{{name}}"/></th>
      </tr>
      <tr>
        <th class="expr-name hit-policy" rowspan="2">
          <input autocomplete="off" class="edit typeahead" placeholder="Click to set hit policy" title="{{decisionLogic.decisionTable.hitPolicy}}" value="{{decisionLogic.decisionTable.hitPolicy[0]}}"/>
        </th>
        {{#each decisionLogic.decisionTable.inputs:i}}
          <th class="expr-name input">
            <input autocomplete="off" class="edit typeahead input" placeholder="..." title="{{inputExpression.text}}" value="{{inputExpression.text}}"/>
          </th>
        {{/each}}
        <th class="col-add input editCell" rowspan="1">
          <span class="glyphicon glyphicon-plus" onclick="ractive.addColumnCondition('{{exprType}}',{{idx}})"></span>
        </th>
        {{#each decisionLogic.decisionTable.outputs:i}}
          <th class="expr-name output">
            <input autocomplete="off" class="edit output" title="{{name}}" value="{{name}}"/>
          </th>
        {{/each}}
      </tr>
      <tr>
        {{#each decisionLogic.decisionTable.inputs:i}}
          <th class="expr-name">
            <input autocomplete="off" class="edit" title="{{inputValues.text}}" value="{{inputValues.text}}"/>
          </th>
        {{/each}}
        <th class="editCell" rowspan="1">&nbsp;</th>
        {{#each decisionLogic.decisionTable.outputs:i}}
          <td class="expr-name output">
            <input autocomplete="off" class="edit" title="{{outputValues.text}}" value="{{outputValues.text}}"/>
          </td>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each decisionLogic.decisionTable.rules:i}}
        <tr class="condition" data-condition="...">
          <th class=""><span>{{i+1}}</span></th>
          {{#each .inputEntry:j}}
            <td class="expr-name"><input autocomplete="off" class="edit typeahead" title="{{text}}" value="{{text}}"></td>
          {{/each}}
          <th class="col-add editCell">&nbsp;</th>
          {{#each outputEntry:j}}
            <td class="expr output"><input title="{{text}}" value="{{text}}"/></td>
          {{/each}}
        </tr>
      {{/each}}
      <tr class="editCell">
        <td class="expr-name" colspan="{{decisionLogic.decisionTable.inputs.length+decisionLogic.decisionTable.outputs.length+2}}">
          <span class="edit glyphicon glyphicon-plus" onclick="ractive.addRowRule('{{exprType}}',{{idx}})"></span>
        </td>
      </tr>
    </tbody>
  </table>
</section>

