<section class="container navbar-sticky">
  <h2>
    {{>navbar}}
    {{>profileArea}}
  </h2>
</section>
<section id="decisionsSect">
  <h2 class="navbar-top">
    {{>navbar}}
    <a class="clickable glyphicon glyphicon-cloud-upload pull-right" aria-hidden="true" on-click="toggleUpload()" title="Upload new BPMN"></a>
  </h2>
  <div id="upload" style="display:none">
    <form action="/{{tenant.id}}/decision-models/upload" class="well form-inline" enctype="multipart/form-data" id="uploadForm" method="post">
      <fieldset class="form-horizontal">
        <label class="col-md-3" for="deploymentName">Deployment Message</label>
        <input id="file" multiple="multiple" name="file" style="display: none" required type="file">
        <input name="tenantId" id="tenantId" type="hidden" value="{{tenant.id}}">
        <input class="col-md-6" name="deploymentMessage" id="deploymentMessage" placeholder="Name or tag of this decision model deployment">
        <button class="btn btn-default btn-file" on-click="addDeploymentResource()" type="button">Select Files</button>
        <button class="btn btn-primary pull-right" on-click="upload('uploadForm')" type="button">Upload</button>
      </fieldset>
    </form>
  </div>
  <table id="decisionsTable" class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Deployment Message</th>
        <th>Created</th>
        <th class="col-actions">Actions</th>
      </tr>
    </thead>
    <tbody>
    {{#each decisions:i}}
      {{# (searchTerm!=undefined && matchFilter(this)) }}
          <tr data-href="{{links[i].href}}" on-click="select(this)">
            <td>{{i+1}}</td>
            <td>{{name}}</td>
            <td>{{deploymentMessage}}</td>
            <td>{{formatDate(created)}}</td>
            <td class="col-actions">
              <a class="clickable glyphicon glyphicon-pencil" aria-hidden="true" onclick="ractive.select(this);ractive.toggleResults();" title="View or edit this decision"></a>
            </td>
          </tr>
      {{/}}
    {{/each}}
    </tbody>
    <tfoot>
      {{# searchTerm!=undefined }}
        <tr><th colspan="9">{{searchMatched == 0 ? 'No' : searchMatched}} matching decision{{searchMatched==1 ? '' : 's'}}</th></tr>
      {{/}} 
    </tfoot>
  </table>
</section>

