<section id="dtSect" class="entity-fields">
  <h2>
    <span>Define Decision</span>
    <div class="pull-right">
    <!--
      <a id="save_as_image" href="#" download="{{decision.decisionTable.name}}.png" target="_blank">
        <span class="glyphicon glyphicon-picture" aria-hidden="true" onclick="ractive.decision2Image();" title="Save image"></span>
      </a>
      <span class="glyphicon glyphicon-export" aria-hidden="true" onclick="ractive.publish(ractive.get('decision'))" title="Publish to Repository"></span>
      -->
      <span class="glyphicon glyphicon-remove" aria-hidden="true" onclick="ractive.delete(ractive.get('decision'))" title="Delete"></span>
      <!--<button class="btn" type="button">Validate</button>-->
    </div>
  </h2>
  <table id="decisionTable" class="decision-table table table-striped">
    <thead>
      <tr style="border: 1px solid green">
        <th class="decision-name" colspan="1">
          <input title="{{decision.name}}" value="{{decision.name}}"/>
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each decision.decisionTable.inputs:i}}
        <tr class="condition" data-input="{{name}}">
          <th class="expr-name input">
            <input autocomplete="false" class="edit typeahead input" title="{{inputExpression.text}}" value="{{inputExpression.text}}"/>
            <span class="clickable glyphicon glyphicon-remove" aria-hidden="true" on-click="deleteInput(i)" title="Delete Input"></span>
          </th>
        {{#if (i==0)}}
<!--           <td class="rule-add" rowspan="{{decision.decisionTable.rules[0].length+2}}">
            <span class="clickable glyphicon glyphicon-plus" aria-hidden="true" on-click="addRuleExpr()" title="Add Rule"></span>
          </td> -->
        {{/if}}
          {{#each decision.decisionTable.rules[i].inputEntry:j}}
            <td class="expr"><input id="{{j}}" title="{{text}}" value="{{text}}"/></td>
          {{/each}}
          {{#each decision.decisionTable.rules[i].outputEntry:j}}
            <td class="expr"><input title="{{text}}" value="{{text}}"/></td>
          {{/each}}
        </tr>
      {{/each}}
      <!--tr class="newRule">
        <th colspan="2">
          <span class="clickable glyphicon glyphicon-plus" aria-hidden="true" on-click="addRule()" title="Add Rule"></span>
        </th>
      </tr-->
      {{#each decision.decisionTable.outputs:i}}
        <tr class="conclusion" data-output="{{name}}">
          <th class="expr-name output">
            <input autocomplete="false" class="edit typeahead output" title="{{name}}" value="{{name}}"/>
            <span class="clickable glyphicon glyphicon-remove" aria-hidden="true" on-click="deleteOutput(i)" title="Delete Output"></span>
          </th>
          {{#each decision.decisionTable.rules[i+decision.decisionTable.inputs.length].inputEntry:j}}
            <td class="expr"><input id="input_{{i}}_{{j}}" title="{{text}}" value="{{text}}"/></td>
          {{/each}}
          {{#each decision.decisionTable.rules[i+decision.decisionTable.inputs.length].outputEntry:j}}
            <td class="expr"><input id="output_{{i}}_{{j}}" title="{{text}}" value="{{text}}"/></td>
          {{/each}}
        </tr>
      {{/each}}
      <!--tr class="newConclusion">
        <th colspan="2">
          <span class="clickable glyphicon glyphicon-plus" aria-hidden="true" on-click="addConclusion()" title="Add Conclusion"></span>
        </th>
      </tr-->
      <tr class="rule">
        <th class="hit-policy" colspan="1">
          <input autocomplete="false" class="edit typeahead" placeholder="Click to set hit policy" title="{{decision.decisionTable.hitPolicy}}" value="{{decision.decisionTable.hitPolicy[0]}}"/>
        </th>
        {{#each decision.decisionTable.rules:j}}
            <td class="expr">
              <span>{{j}}</span>
              <span class="clickable glyphicon glyphicon-remove pull-right" aria-hidden="true" on-click="deleteRule(i)" title="Delete Rule"></span>
            </td>
          {{/each}}
        {{#each decision.decisionTable.conclusions[0].expressions:idx}}
          <td contenteditable>{{idx+1}}</td>
        {{/each}}
      </tr>
    </tbody>
  </table>

</section>

