<a id="decisionsTableToggle" class="clickable glyphicon glyphicon-glyphicon-triangle-bottom" aria-hidden="true" on-click="toggleResults()" title="Collapse or expand the decision model table"></a>
<span>Decision Models</span>
{{#matchRole('author')}}
  <a class="clickable glyphicon glyphicon-btn glyphicon-plus" aria-hidden="true" on-click="create()" title="Add a new decision model"></a>
{{/}}
<a class="clickable glyphicon glyphicon-btn glyphicon-refresh" aria-hidden="true" on-click="fetch()" title="Refresh the list"></a>
<input type="search" class="form-control search" placeholder="Search" value="{{searchTerm}}">
<a class="glyphicon glyphicon-btn glyphicon-search" aria-hidden="true" title="Search for matching decisions"></a>
